params {

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//                              Tools activation                                   //
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////// enable or enable
ENABLE_PREPROCESS="disable"     // If disabled, neither fastp or SGA will run
    ENABLE_FASTP="disable"
    ENABLE_SGA="disable"
    ENABLE_PRINSEQ="disable"        // enable to use PRINSEQ instead of SGA         
    ENABLE_LOW_COMPLEXITY_FILTER="" // use prinseq result for downstream analysis; Use 'SGA' to use SGA result for downstream analysis; Use '' if this step is disabled

ENABLE_KRAKEN_GTDB="disable"
ENABLE_MAPPING="enable"
    ENABLE_PARALLEL_MAPPING='enable'
    ENABLE_SEQUENTIAL_MAPPING='enable'
    USE_MAPPING='' // use the output bam files from 'PARALLEL_MAPPING' or 'SEQUENTIAL_MAPPING' for downstream analysis

ENABL_MERGE_BAM="enable" // merge the bam of the same sample mapped against different databases
ENABLE_MASK_REGIONS="enable"
    ENABLE_GENERATE_BEDFILE_TO_MASK="enable" // can be enabled only if 'ENABLE_MASK_REGIONS' is enabled
        ENABLE_MASK_FASTA="enable" // can be enabled only if the subworkflow 'ENABLE_GENERATE_BEDFILE_TO_MASK' is enabled

ENABLE_NGSLCA="enable"
ENABLE_BAMDAM="enable"
ENABLE_KRONATOOLS="enable"
ENABLE_MMSEQS2="enable" // enable this requires ENABLE_BAMDAM
ENABLE_METRICS="enable"
ENABLE_PLOTS="enable"

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//                        Input files
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// (1) input fastq
FASTQ_direct_path="" // for example "/path/to/*.fq.gz"
    suffix_OVERRIDE_LIST="_raw" // component to be removed from sample ID, if none then use "" 
FASTQ_list_path="/cfs/klemming/projects/snic/snic2022-6-144/CHENYU/metaJAM/metaJAM/test/list_fq_test_v2" // ID[tab]fastq1[tab]fastq2

metadata="/cfs/klemming/projects/snic/snic2022-6-144/CHENYU/metaJAM/nf_metaJAM/test/metadata.txt"

// (2) Or if you want to run from any other steps, with files not generated by the pipeline, provide a list of files from the step before with absolute path 
// Note: In this case, only the samples provided in the external files list will be performed, not the one provided from sequencing data to the pipeline



// give it a file with each line as the absolute path of the output files of the step specified (e.g. fastp, SGA, bamdam etc.)
// Format of each row in the input file is specified at the end of each line
OVERRIDE_LIST_FASTP="" // sample_ID[tab]merged_fastq
OVERRIDE_PREPROCESSED="" // sample_ID[tab]preprocessed_fastq : the preprocesse meant for merging and low-complexity reads removal
OVERRIDE_LIST_KRAKEN="test/List_override_fastq.txt" // sample_ID[tab]unclassified_fastq : the reads not classified to microbial/contamination database

OVERRIDE_LIST_BAM="" // give a file with each line: sample_ID[tab]absolute_path_to_sample_bam
    // if ENABL_MERGE_BAM is 'disable' while there are bam files for same sample mapped against 
    // different databases, make sure sample_ID is sample_ID+database_name to differentiate them. 
    // Otherwise mapping results against dif databases cannot be differentiated in later processes
OVERRIDE_LIST_NGSLCA="" // lca files of the corresponding sample, columns: sample_ID[tab]sample_lca
OVERRIDE_LIST_BAMDAM="" // override the output of bamdam, columns: sample_ID[tab]bam[tab]lca[tab]tsv[tab]xml_file
OVERRIDE_LIST_MMSEQ2="" // ID[tab]mmseq2_output_evaluation_file
    // here the mmseq2_output_evaluation_file is output by a summary script after running mmseq2 and has suffix *.bamdam_mmseqs.evaluation.summary.tsv
OVERRIDE_LIST_METRICS="" // 

// OUTPUT Directories///
OUTPUT_Dir="/cfs/klemming/projects/snic/snic2022-6-144/CHENYU/metaJAM/metaJAM/out_override_preprocess"

//the folder where metaJAM is installed at
METAJAM_DIR="/cfs/klemming/projects/snic/snic2022-6-144/CHENYU/metaJAM/metaJAM" // not/ at the end of the path

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//                        Path to databases
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


//BOWTIE2_MAPPING_DBs="" // each line as the bowtie2 mapping index header
BOWTIE2_MAPPING_DB1=""
BOWTIE2_MAPPING_DB2=""
BOWTIE2_MAPPING_DB3=""
BOWTIE2_MAPPING_DB4=""
BOWTIE2_MAPPING_DB5=""
BOWTIE2_MAPPING_DB6=""
BOWTIE2_MAPPING_DB7=""
BOWTIE2_MAPPING_DB8=""
BOWTIE2_MAPPING_DB9=""
BOWTIE2_MAPPING_DB10=""



// Kraken2 GTDB 
KRAKEN2_FILTER_DATABASE=""

// NCBI taxonomy files
NAMES="/path/to/names.dmp"
NODES="/path/to/nodes.dmp"
ACC2TAXID="/path/to/acc2taxid.txt"

// Mask regions
REGIONS_TO_MASK="/cfs/klemming/projects/snic/snic2022-6-144/CHENYU/MCWorkflow/output/mito_plastid.bed" // a bed file with all regions to be masked

// MCWorkflow to generate bedfile for microbial/contamination-like region for reference genomes
MCWORKFLOW_input_dir= ""  // absolute path to the dir containing the reference genome fasta
MCWORKFLOW_input_list=""  // a list with each line as the absolute path to the reference genome fasta
MCWORKFLOW_pseudo_reads_file_dir="" // a directory to store the pseudo reads generated of GTDB/other suspected containmation source
MCWORKFLOW_type_of_pseudo_reads="GTDB"
MCWORKFLOW_n_allowed_multimappers=1000


// MMSeqs2 database
MMSEQS2_DB="/sw/data/MMseqs2_data/latest/rackham/NT"
//MMSEQS2_DB="/sw/data/MMseqs2_data/latest/rackham/CDD"
MMSEQS2_TAXADB_SQLITE="/cfs/klemming/projects/supr/sediment_paleogenomics/tools/metaJAM/taxadb_nucl.sqlite"

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//                       Tools' parameters to precise
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// fastp
FASTP_OVERLAP_LEN_REQUIRE=20   // --overlap_len_require
FASTP_MIN_LENGTH=30            // -l

// SGA
SGA_DUST_THRESHOLD=4           // --dust-threshold

// PRINSEQ params (defaults mirror your snippet)
PRINSEQ_COMPLEXITY_METHOD="dust"
PRINSEQ_COMPLEXITY_THRESHOLD=4
PRINSEQ_MIN_LEN=35
PRINSEQ_DEREP="14"                      // exact fwd+rev duplicates

BOWTIE2_N_ALLOW_MULTIMAPPER=1000

// bamdam parameters (used only if ENABLE_BAMDAM=1)
BAMDAM_STRANDED="ds"          // bamdam shrinnk --stranded; either ss for single stranded or ds for double stranded (required)
BAMDAM_DUSTMAX=4              // bamdam shrink --dust_max; Maximum DUST score threshold to keep a read (default: not set)
BAMDAM_MINCOUNT=3            // bamdam shrink --mincount; Minimum read count to keep a node (default: 5)
BAMDAM_MINSIM=0.9              // bamdam shrink --minsim; Minimum similarity to reference to keep an alignment
BAMDAM_MODE=1               // bamdam compute --mode; mode to calculate stats. 1: use best alignment (recommended), 2: average over reads, 3: average over alignments (default: 1)
BAMDAM_MINREADS=5             // bamdam krona --minreads;  Minimum reads across samples to include taxa (default: 100)
BAMDAM_MAXDAMAGE=0.5          // bamdam krona --maxdamage; Force a maximum value for the 5' C-to-T damage color scale. If not provided, the maximum value is determined from the data, with a minimum threshold of 0.3. (not recommended by default)
BAMDAM_TOP_GENUS=10           // bamdam plotdamage; Top X genus to plot for damage

// MMseqs2 search settings (optional, but good to centralize)
MMSEQS2_THREADS=60
MMSEQS2_MAX_SEQS=300
MMSEQS2_MIN_SEQID=0.85
MMSEQS2_MIN_BITS=50
MMSEQS2_MIN_QUERY_COV=0.95
MMSEQS2_MAX_EVALUE="1e-5"
MMSEQS2_S=7.5
MMSEQS2_SPACED_KMER_MODE=1
MMSEQS2_SPLIT_MEM_LIMIT="220G"
// MMSeqs2 evaluation parameters
MMSEQS2_TOP_GENERA=10
//GENERA_FILE: If a list file is give, the genera selected for investigation through MMSeqs2 will be provided from the list file and the TOP_GENERA argument will be skipped. The lsit should be in shape of 1 genera name per line.
// if no GENERA_FILE, replace it with ""
MMSEQS2_GENERA_FILE="assets/NO_FILE" // path to a file containing genera of interst at each line (?); otherwise use 'assets/NO_FILE' 
MMSEQS2_MIN_DMG=3.5
MMSEQS2_MAX_READS=100
MMSEQS2_MIN_READS=30
MMSEQS2_SEED="42"               // Leave empty to have different reads each run, othewise set an integer (e.g. 42)
MMSEQS2_AMBIG_FRAC=0.1         // Percent of e-value difference for the second best hit for a different genera than the mmseqs2 best hit 
MMSEQS2_DATABASE_NAME="nt_query"

// Plot parameters
PLOTS_MIN_READS=50       // Minimum reads per sample to include in bamdam plots
PLOTS_MODE="both"   // heatmap, bubble, both
PLOTS_DAMAGE_THRESHOLD=3.5      // Minimum percentage of damage for plotting
PLOTS_PLOT_LOW_DAMAGE_TAXA=0    // 1=keep low-damage taxa (default); 0=drop taxa whose max damage across samples is < PLOTS_DAMAGE_THRESHOLD
PLOTS_EXCLUDE_TAXA="Homo;Zea;Canis;Veronica" // comma / semicolon / space separated (exact taxon name matches)
//PLOTS_KRONA=1                   //?? Plots the bamdam results for all samples in metadata if enable. 1=enable, 0=disable
PLOTS_LIST_TAXA_EVOLUTION_FILE="taxa_list_reads_single_plot.txt" // Give a list of taxa with one taxa per line, to produce plot of abundance of each taxa as a line representation
PLOTS_TAXA_PER_PLOT=50       // Number of taxa passing the filters to plot per graph
MAP_LAST_DB_TAG="mam-bird-fish_v2" 
PLOTS_SAMPLES_FOR_PLOTS=params.METAJAM_DIR+"assets/NO_FILE8" // a subset of metadata containing the samples that you want to plot, if no subsetting is needed then use "assets/NO_FILE8"

}

// cluster memory, time and cpus setting
process {

    // main workflow setting

    //global, fastp, sga
    withLabel: small_memory {
        
        cpus={ check_max( 80 * task.attempt, 'cpus' ) }
        memory={ check_max(64.GB * task.attempt, 'memory' ) }
        time={ check_max(6.hour * task.attempt, 'time' ) }
    }

    // metrics and plots
    withLabel: little_memory {
        cpus={ check_max(8 * task.attempt, 'cpus' ) }
        memory={ check_max(10.GB * task.attempt, 'memory' ) }
        time={ check_max(30.m * task.attempt, 'time' ) }
    }

      withName: PRINSEQ {
         cpus={check_max(82 * task.attempt, 'cpus' ) }
         memory={ check_max(65.GB * task.attempt, 'memory' ) }
         time={ check_max(30.h * task.attempt, 'time' ) }
     }

     withName: KRAKEN2 {
         cpus={ check_max(128 * task.attempt, 'cpus' ) }
         memory={ check_max(500.GB * task.attempt, 'memory' ) }
         time={ check_max(40.h * task.attempt, 'time' ) }
     }

     withLabel: BOWTIE2 {
         cpus={ check_max(128 * task.attempt, 'cpus' ) }
         memory={ check_max(440.GB * task.attempt, 'memory' ) }
         time={ check_max(30.h * task.attempt, 'time' ) }
     }

    withName: MMSEQ2 {
        maxRetries=2
        // setting for NT database
         cpus={ check_max(128 * task.attempt, 'cpus') }
         memory={ check_max( 880.GB * task.attempt, 'memory' ) }
         time={ check_max( 20.hour * task.attempt, 'time' ) }

    }

    // subworkflow MCWorkflow setting start ----------------------------------------------
        withName: index_reference {
        cpus={ check_max(80 * task.attempt, 'cpus' ) }
        memory={ check_max(64.GB * task.attempt, 'memory' ) }
        time={ check_max(1.h * task.attempt, 'time' ) }
    }

    withName: align_pseudo_reads {
        cpus={ check_max(10 * task.attempt, 'cpus' ) }
        memory={ check_max(8.GB * task.attempt, 'memory' ) }
        time={ check_max(1.h * task.attempt, 'time' ) }
    }
    withName: merge_bam {
        cpus={ check_max(80 * task.attempt, 'cpus' ) }
        memory={ check_max(64.GB * task.attempt, 'memory' ) }
        time={ check_max(3.h * task.attempt, 'time' ) }
    }

    withName: detect_exogenous {
        cpus={ check_max(80 * task.attempt, 'cpus' ) }
        memory={ check_max(64.GB * task.attempt, 'memory' ) }
        time={ check_max(8.h * task.attempt, 'time' ) }
    }
    withName: make_bedfile {
        cpus={ check_max(1 * task.attempt, 'cpus' ) }
        memory={ check_max(0.8.GB * task.attempt, 'memory' ) }
        time={ check_max(20.m * task.attempt, 'time' ) }
    }
    withName: mask_fasta {
        cpus={ check_max(1 * task.attempt, 'cpus' ) }
        memory={ check_max(0.8.GB * task.attempt, 'memory' ) }
        time={ check_max(20.m * task.attempt, 'time' ) }
    }
    // global setting for retrying task if it's out of memory kill ----------------------------------------------

    //errorStrategy={ task.exitStatus in [143,137,104,134,139, 140] ? 'retry' : 'finish' }
    errorStrategy='retry'
    maxRetries=6
}

manifest {
    name       ="metaJAM"
    description="in progress"
    author     =""
    mainScript ="main.nf"
    version    ="1"
}

profiles {
    conda {
        conda.enabled=true
        conda.channelPriority='flexible'
    }
    
    //singularity or apptainer is needed for mcworkflow
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
    }
}

// from nf-core/configs: pdc_kth for cluster dardel

params {
    project="naiss2025-22-968" //* Naiss project allocation
    max_memory=1790.GB    //*
    max_time=7.d          //*
    max_cpus=128          //*  
    
    clusterOptions            =null
    clusterName               ={
        def cluster="unknown"
        try {
            cluster=['/bin/bash', '-c', 'sacctmgr show cluster -n | grep -o "^\s*[^ ]*\s*"'].execute().text.trim()
        }
        catch (IOException _e) {
            System.err.println("WARNING: Could not run sacctmgr, defaulting to unknown")
        }
        cluster
    }.call()

    config_profile_description='PDC profile.'
    config_profile_contact    ='Pontus Freyhult (@pontus)'
    config_profile_url        ="https://www.pdc.kth.se/"

    ignore_params_list        =[
        "cluster-options",
        "clusterOptions",
        "clusterName",
        "genomes",
        "ignore_params_list",
        "input_paths",
        "max_cpus",
        "max_memory",
        "max_time",
        "project",
        "schema_ignore_params",
        "validationSchemaIgnoreParams",
    ]
}

process {
    resourceLimits=[
        memory: 1790.GB,
        cpus: 128,
        time: 7.d,
    ]
    // Should we lock these to specific versions?
    beforeScript  ='module load PDC'

    executor      ="slurm"
    clusterOptions={
        def clusterOptionsCreator={ mem, time, cpus ->
            def slurm_opts=[
                "-A ${params.project}",
                params.clusterOptions ?: "",
            ]

            if (params.clusterName == "dardel") {
                if (time <= 7.d && mem <= 111.GB && cpus <= 128) {
                    slurm_opts << "-p shared"
                }
                else {
                    def partition=time < 1.d
                        ? (mem > 222.GB ? 'memory,main' : 'shared,main')
                        : (mem > 222.GB ? 'memory' : 'shared')
                    slurm_opts << "-p ${partition}"
                }
                if (!mem || mem < 6.GB) {
                    // Impose minimum memory if request is below
                    slurm_opts << '--mem=6G'
                }
            }
            slurm_opts.minus("").join(" ")
        }
        clusterOptionsCreator(task.memory, task.time, task.cpus)
    }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
